div.locks
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
	img(src="images/lock-open.png").locks__lock
.row
	.large-12.columns.binary__tables
		p.instructions Each letter of the alphabet was translated into its binary equivalent based on its position in the alphabet

		ul.binary__table
			each val, key in hashLeft
				li(data-hashresult="#{hashLeft[key]}", data-hashkey="#{key}")
					| #{key.toLowerCase()} = <span class="turq">#{hashLeft[key]}</span> /
			each val, key in hashRight
				li(data-hashresult="#{hashRight[key]}", data-hashkey="#{key}")
					| #{key.toLowerCase()} = <span class="turq">#{hashRight[key]}</span> /

	.large-12.columns.binary__content

		h3.modal__content__heading.modal__content__heading--binary
			| Instructions

		//- p.modal__content__subheading--binary
		//- 	| The content consists of a binary code where the spaces between the words are missing.

		ol.modal__explanation--binary
			li
				strong Select a portion of binary below. Watch the letters highlight above.
			li
				strong Click on the highlighted cyphers above if you’re happy with your choice and complete the sentance below.

		h5.binary__question
			span.binary__question__selectable=question

		.binary__answers
			each answer in answers
				.binary__answers__word
					each letter in answer
						.binary__answers__word__input
							.binary__answers__word__input__remove
								h6.modal__close__btn x
							input(type="text", maxlength="1", disabled="true")

		.action-btns
			button(disabled="disabled").btn.btn--submit Submit 1/2 &raquo;



