h4.modal__content__heading.modal__content__heading--pattern
	| #{question.question}

div(class="q-and-a__question q-and-a__question--#{question.name}")
	img(src="images/math/number-pattern-#{question.name}.png")

ul.q-and-a__answers
	each input in question.inputs
		input(class="#{input}", placeholder="?")
		

.action-btns
	button(disabled="disabled").btn.btn--submit 
		| Submit 
		span.questions-progress=progress 
		| /
		span.questions-remaining=totalQuestions 
		| &raquo;